################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lottery/Lottery.Web/bin
/Lottery/.vs
